/**/

body{
     background-color: rgb(146, 146, 230);
}

.titulo{
     background-color: rgb(240, 60, 60);
     color: white; 
     font-family: cursive;
}

.linha{
     margin-top: 20px;
     color: white;
}

label{
     font-family: arial;
}